#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@ --with python2

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	set -e; for ver in `pyversions -vr`; do \
	    python$$ver setup.py test; \
	done
endif

override_dh_auto_build:
	rm shapely/speedups/_speedups.c
	dh_auto_build
